@page {
  size: A4;
  margin: 14mm;
}

@media print {

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  html, body {
    font-size: 11pt;
    background: #fff;
  }

  .page {
    max-width: 100%;
    margin: 0;
    box-shadow: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  h2 {
    page-break-after: avoid;
  }

  section {
    page-break-inside: avoid;
  }
}