@page {
  size: A4;
  margin: 14mm;
}

@media print {

  html, body {
    width: 210mm;
    height: 297mm;
    font-size: 11pt;
    background: #fff;
  }

  .page {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .no-print {
    display: none !important;
  }

  h2 {
    page-break-after: avoid;
  }

  section {
    page-break-inside: avoid;
  }
}