---
layout: null
---



<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>{{ resume.basics.name }}</title>

  <!-- Attach Global Assets -->
  <link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/app_bar.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
  <script src="{{ '/assets/js/app_ui.js' | relative_url }}" defer></script>

  <!-- Template Theme -->
  {{ page.temp_theme }}

  <!-- TEMPLATE REGISTRY FOR RUNTIME -->
  <script>
    window.APP_TEMPLATES = {
      {% for t in site.templates %}
      "{{ t.name }}": {
        layout: "{{ t.page_layout }}",
        theme: "{{ t.page_theme }}"
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    };
  </script>

</head>

<body>

  {% include app_bar.html %}

  {{ content }}

</body>
</html>