---
layout: null
---

{% assign active = site.data.active-resume %}
{% assign resume = site.data.resumes[active.resume] %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ resume.basics.name }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
  <link rel="stylesheet" href="{{ '/assets/themes/theme-' | append: active.theme | append: '.css' | relative_url }}">

  <script src="{{ '/assets/js/pdf-download.js' | relative_url }}" defer></script>
</head>

<body>

  {% include resume-layouts/layout-{{ active.layout }}.html %}

</body>
</html>